@media screen and (max-width: 400px) {
    .header__menu {
        display: none;
    }

    .header__logo img {
        width: 50px;
    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;
    }

    .nav__btn_mobile {
        display: flex;
    }

    .header__title {
        text-align: center;
    }

    .header__title h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .header__title h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .header__title p::before,
    .header__title p::after {
        display: none;
    }

    .header__intro {
        display: flex;
        justify-content: space-evenly;
        margin: 380px 15px 15px 15px;
        width: 1138px;
        height: 328px;
        flex-direction: column;
    }
}